{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="section client_map bg-gray">
    <div class="container">
        <div class="row">
            <div class="title"><h2>Home Page</h2></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="product_heat">
                    <img src="{% static 'images/product_reach_map.jpg' %}" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}